<%= link_to "Items", items_path %>
<%= link_to "Purchases", purchases_path %>
<%= link_to "Prices", item_prices_path %>

<%= form_for @purchase do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

  <div class="field">
    <%= f.label :purchase_item_id %><br />
    <%= f.collection_select :item_id, Item.active.all, :id, :name, prompt: "Select..." %>
  </div>
  <div class="field">
    <%= f.label :purchase_quantity %><br />
    <%= f.text_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  </fieldset>
<% end %>