<h5> <b> <%= @item.name %> </b> </h5>

<hr>

<%= render partial: "crud" %>

<b>Price:&nbsp;</b><br>
  <% if @item.current_price.nil? %>
    <p>N/A</p>
  <% else %>
    <%= number_to_currency(@item.current_price) %><br/><br/>
  <% end %>

<b>Description:&nbsp;</b><br>
<%= @item.description %><br/><br/>

<b>Inventory Level:&nbsp;</b><br>
<%= @item.inventory_level %><br /><br />

<b>Color:&nbsp;</b><br>
  <%= @item.color %><br /><br />

<b>Reorder Level:&nbsp;</b><br>
  <%= @item.reorder_level %><br /><br />