<div class="center-title">

<% if Item.count == 0 %>
    <h3>There are no items in the system at this time</h3>
<% else %>
    <br><h3>Available Items</h3><br>
    <h4>Boards</h4><br>
    <table class="center-datagrid">
        <thead class="header-datagrid">
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
        </thead>
    <% for board in @boards %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to board.name, item_path(board) %></td>
        <td><%= number_to_currency(board.current_price) %></td>
        <td><%= board.inventory_level %></td>
        </tr>
    <% end %>
    </table>

    <h4>Pieces</h4><br>
    <table class="center-datagrid">
        <thead class="header-datagrid">
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
        </thead>
    <% for piece in @pieces %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to piece.name, item_path(piece) %></td>
        <td><%= number_to_currency(piece.current_price) %></td>
        <td><%= piece.inventory_level %></td>
        </tr>
    <% end %>
    </table>

    <h4>Clocks</h4><br>
    <table class="center-datagrid">
        <thead class="header-datagrid">
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
        </thead>
    <% for clock in @clocks %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to clock.name, item_path(clock) %></td>
        <td><%= number_to_currency(clock.current_price) %></td>
        <td><%= clock.inventory_level %></td>
        </tr>
    <% end %>
    </table>

    <h4>Supplies</h4><br>
    <table class="center-datagrid">
        <thead class="header-datagrid">
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
        </thead>
    <% for supply in @supplies %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to supply.name, item_path(supply) %></td>
        <td><%= number_to_currency(supply.current_price) %></td>
        <td><%= supply.inventory_level %></td>
        </tr>
    <% end %>
    </table>

    <h3>Inactive Items</h3><br>
    <table class="center-datagrid">
        <thead class="header-datagrid">
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
        </thead>
    <% for item in @inactive_items %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= number_to_currency(item.current_price) %></td>
        <td><%= item.inventory_level %></td>
        </tr>
    <% end %>
    </table>

<% end %>

</div>