<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>A&M Chess Store</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- FLASH NOTICES -->
    <% flash.each do |name, msg| %>
      <div class="alert-box <%= :notice ? "success" : "warning" %> radius">
        <a href="#" class="close">&times;</a>
        <%= msg %>
      </div>
    <% end %>
      <%= render 'partials/navigation' %>
      <%= yield %>
  </body>

  <footer>
    <%= render 'partials/footer' %>
  </footer>
</html>
